@tailwind base;
@tailwind components;
@tailwind utilities;

/* GLOBALES */

body {
  margin: 0;
  padding: 0;
  cursor: default;
}

main {
  overflow: hidden;
}

/*
 hr {
  width: 100%;
  border: 0;
  height: 2px;
  background-color: #000;
} */

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.font-cormorant {
  font-family: "Cormorant Garamond", serif;
}

.montserrat {
  font-family: "Montserrat", sans-serif;
}

.ntr {
  font-family: "NTR", sans-serif;
}

/* NAVBAR */

.bottom-rounded {
  position: relative;
  display: inline-block;
}

.bottom-rounded::after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 1px;
  width: 16px;
  height: 3px;
  background-color: #000;
  border-radius: 5px;
}

/* HOME */

/* KEYFRAME */
/* @keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-slideInFromBottom {
  animation: slideInFromBottom 1s ease forwards;
}

.animate-slideInFromLeft {
  animation: slideInFromLeft 1s ease forwards;
}

.animate-slideInFromRight {
  animation: slideInFromRight 1s ease forwards;
} */
