@tailwind base;
@tailwind components;
@tailwind utilities;

/* GLOBALES */

body {
  margin: 0;
  padding: 0;
  cursor: default;
  scroll-behavior: smooth;
}

.scroll {
  overflow: hidden;
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}


.container {
  max-width: 1280px;
  margin: 0 auto;
}

/* GOOGLE FONTS */

.sorts{
  font-family: 'Sorts Mill Goudy', serif;
}

.font-cormorant {
  font-family: "Cormorant Garamond", serif;
}

.montserrat {
  font-family: "Montserrat", sans-serif;
}

.ntr {
  font-family: "NTR", sans-serif;
}

/* NAVBAR */

.bottom-rounded {
  position: relative;
  display: inline-block;
}

.bottom-rounded::after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 1px;
  width: 16px;
  height: 3px;
  background-color: #000;
  border-radius: 5px;
}

/* BURGER NAVBAR */

.bottom-rounded-mobile{
  position: relative;
  display: inline-block;
}

.bottom-rounded-mobile::after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 3px;
  width: 16px;
  height: 3px;
  background-color: #000;
  border-radius: 5px;
}


.slick-slide {
  opacity: 0.5;
  transition: opacity 0.5s ease;
}

.slick-center {
  opacity: 1;
}


/* Select Language */
.custom-select {
  appearance: none;
  border: none;
  background-color: transparent;
}

/* ABOUT ME */

.separator {
  border: none; 
  border-top: 2px solid black; 
  margin: 30px 0;
}


input[type="range"] {
  cursor: pointer;
  width: 100px;
}


/* CART */

.cart {
  background: white;
  display: none;
  padding: 32px;
  position: fixed;
  right: 0px;
  top: 80px;
  width: 200px;
}

.cart img {
  aspect-ratio: 16/9;
  width: 100%;
}

.cart li {
  border-bottom: 1px solid #444;
  padding-bottom: 16px;
}

.cart footer {
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
}

.cart footer button {
  padding: 8px;
}

.cart-button {
  align-items: center;
  cursor: pointer;
  display: flex;
  height: 32px;
  justify-content: center;
  padding: 4px;
  transition: all .3s ease;
  width: 32px;
  z-index: 9999;
}

.cart-button:hover {
  scale: 1.1;
}

.cart-button ~ input:checked ~ .cart {
  height: 100%;
  display: block;
}